body {
  width: 200px;
  height: 200px;
  background-color: #b8d0e8;
}
.MuiInputBase-root {
  background-color: lightsteelblue;
  opacity: 80%;
}
button {
  background-color: lightsteelblue;
}
/* #error-message {
  display: none;
} */
